.connect {
  width: 100%;
  height: 3460px; }
  .connect .banner {
    width: 100%;
    height: 95px;
    margin: 10px 0;
    overflow: hidden;
    text-align: center; }
    .connect .banner img {
      margin: 0 -100%; }
  .connect .ul {
    height: 40px;
    width: 1240px;
    margin: 0 auto;
    border-bottom: 1px solid;
    border-top: 1px solid;
    position: relative; }
    .connect .ul li {
      float: left;
      height: 40px;
      width: 100px;
      margin: 0 30px;
      text-align: center;
      line-height: 40px; }
      .connect .ul li .flower {
        width: 1240px;
        height: 3200px;
        position: absolute;
        top: 40px;
        left: 0; }
        .connect .ul li .flower .listed {
          width: 1240px;
          height: 3200px;
          margin: 0 auto; }
          .connect .ul li .flower .listed .prod {
            width: 310px;
            float: left;
            height: 410px; }
            .connect .ul li .flower .listed .prod:hover {
              background: #DCDCDC; }
            .connect .ul li .flower .listed .prod .img {
              width: 310px;
              height: 200px;
              margin: 50px 0; }
            .connect .ul li .flower .listed .prod .title {
              width: 315px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              font-size: 16px; }
            .connect .ul li .flower .listed .prod .list {
              width: 315px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              font-size: 14px; }
            .connect .ul li .flower .listed .prod .price {
              width: 310px;
              height: 20px;
              text-align: center;
              line-height: 20px;
              font-size: 14px; }
            .connect .ul li .flower .listed .prod .add_cart {
              width: 85px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              font-size: 14px;
              border: none;
              background: red;
              color: white; }
      .connect .ul li:hover {
        font-weight: bolder;
        background: #DCDCDC; }
