

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset,input , legend, img, div ,left , center,right,top,bottom{ margin:0; padding:0;box-sizing:border-box;}

fieldset, img { border:0; }

img{vertical-align: top;}

em,i,strong,b{ font-style:normal; font-weight:normal; }

ul, ol , li { list-style:none; } 

a {text-decoration:none; color: black; }

.ind{text-indent: 2em;}

.noborder{border: none;}


.nobg{background:none;}    

.floatL{float: left;}

.floatR{float: right;}




.header{
    width: 100%;
   min-height:145px;
    .h_head{
    width: 100%;
    height:33px;
    background: #e7e7e7;
    .head{
        width: 1118px;
        height: 33px;
        margin: 0 auto;
//      border: 1px solid red;
    .div_lang{
    float: left;
    width: 125px;
    height: 33px;
    line-height: 33px;
    font-size: 13px;
    color: #414141;
    cursor: pointer;
    list-style: none;
    background: url(/project/images/san.png) no-repeat left;
    background-size: auto 40%;
    background-position-x: 10px;
    label{
    display: block;
    cursor: pointer;
    padding-left: 68px;
    height: 33px;
    list-style-image: none;
    background: url(/project/images/china.svg) no-repeat left;
    background-size: auto 50%;
    background-position-x: 43px;
    line-height: 33px;
    }
    } 
    ul{
        width:345px;
        height: 33px;
        float: left;
//      border: 1px solid;
        .lis{
            background: url(/project/images/15006336097366439.svg) no-repeat center center;
            background-size:100% 100% ;
            &:hover{
            background: url(/project/images/15006336097366439.svg) no-repeat center center;
            background-size:100% 100% ;
                
            }
        }
        li{
            float: left;
            height: 33px;
            width: 113px;
            list-style:none;
            text-align: center;
            line-height: 33px;
            
            &:hover{
                background:white;
            }
            a{
                color:#1A2F38;
                text-decoration: none;
            }
        }
    }   
    }
    
    .right{
        width: 165px;
        height: 33px;
        float: right;
//      border: 1px solid;
        .login{
            float:left;
            width: 35px;
            height: 33px;
            text-align: center;
            line-height: 33px;
            font-size: 12px;
            a{
                color: black;
                text-decoration: none;
            }
            &:hover{
                background: white;
            }
        }
        .register{
           float:left;
            width: 35px;
            height: 33px;
            text-align: center;
            line-height: 33px;
            font-size: 12px;
            a{color: black;
              
              text-decoration: none;}
        }
        .cart{
           float:left;
            width: 35px;
            height: 33px;
            line-height: 33px;
            font-size: 12px;
            text-align: right;
            background:url(/project/images/icon.svg) no-repeat left center;
            background-size:70% 70% ;
            a{color: black;
              text-decoration: none;
              }
          &:hover{
             background:url(/project/images/icon.svg) no-repeat left center;
            background-size:80% 80% ; 
          }  
        }
        .dian{
              float: left;
              width: 60px;
              height: 33px;
              line-height: 33px;
              text-align: right;
              font-size: 12px;
              background: url(/project/images/std.svg) no-repeat 10px ;
              &:hover{
                  background-size:60% 60% ;
              background: url(/project/images/std.svg) no-repeat 10px ;
                  
              }
              a{color: black;
              
              text-decoration: none;}
            }
    }
    }

   .login{
       width: 100%;
       height:75px;
       .l-box{
           width: 1118px;
           height: 75px;
           margin: 0 auto;
//         border: 1px solid red;
           display: flex;
           align-items: center;
           justify-content: center;
           
           img{
               height:75px;
               
           }
       }
   } 
   .bottom{
       width: 100%;
       height: 37px;
       background: #414141;
       position: relative;
       
       ul{
           width: 1118px;
           height: 37px;
           margin: 0 auto;


           li{
               float: left;
               text-align: center;
               line-height: 37px;
               font-size: 12px;
               width:79px;
               list-style: none;
              
               
               
        .loves{
     width: 100%;
    font-size: 14px;
    background:white;
    position: absolute;
    top:37px;
    left: 0;
    display: none;
    z-index: 999;
    border-bottom: 3px solid #414141;
    min-height: 320px;
   .love{
       
       width: 1118px;
       height: 300px;
       margin: 0 auto;
       padding-left: 50px;
       box-sizing: border-box;
     dl{
         width:150px;
         height: 300px;
         float: left;

        dt{
            width: 150px;
            height: 50px;
            text-align: center;
           line-height: 50px;
            font-size: 16px;
         border-right: 1px solid;
            
        } 
        .dls{border-right: none;}
        .dds{border-right: none;}
       
        dd{
          width: 150px;
           height: 30px; 
           font-size: 12px; 
           text-align: center;
           line-height: 30px;
         border-right: 1px solid;
         &:hover{color: #CCCCCC;}
           
           
        }
     } 
     .img{
         float:left;
         width:615px;
         height: 300px;
         padding: 20px 6px;
         box-sizing: border-box;
     } 
   }
     }        
               
            
               
               &:hover{
                   background: white;
                   a{
                      color: aquamarine;
                   }
               }
            &:hover .loves{
                   display: block;
           }
               a{
                   list-style: none;
                   text-decoration: none;
                   color: white;
                   
               }
               
               
           }
                      
       }
   }
   
   
}
