.content{
    width: 100%;
    overflow: hidden;
    .ewmbox{
        width: 45px;
        height: 45px;
        background: darkgray;
        position: fixed;
        border-radius: 10px;
        top: 500px;
        right: 0;
        &:hover{
            background: #DCDCDC;
        }
        img{
            height: 45px;
            width: 35px;
            margin-left:5px ;
        }
        
    .ewm_content{
        width: 150px;
        height: 146px;
        position: fixed;
       bottom:320px;
        right: 50px;
        
        img{
           width: 150px;
        height: 146px; 
        }
    }    
    }
    
    .zhichibtnbox{
        width: 45px;
        height: 45px;
        background:darkgray;
        position: fixed;
        top:557px ;
        border-radius: 10px;
        right: 0;
         &:hover{
            background: #DCDCDC;
        }
        img{
          width: 45px;
        height: 45px;  
        }
        
     .mes_content{
         width: 115px;
         height: 120px;
         position: fixed;
         bottom:225px;
         right: 50px;
         background:white;
         display: none;
         border: 1px solid #DCDCDC;
         .lianxi{
             width: 115px;
             height: 30px;
            text-align: center;
             line-height: 30px;
             color: darkgray;
             font-size: 14px;
         }
         p{
             width: 115px;
             height: 40px;
             line-height: 40px;
             text-align: center;
             color: darkgray;
             border-bottom:1px solid #DCDCDC ;
         }
         .kefu{
             width:90px;
             margin-top: 5px;
             background: darkgray;
             border-radius: 5px;
             height: 30px;
             margin-left: 10px;
             text-align: center;
             font-size: 14px;
             line-height: 30px;
             color: white;
             
         }
     } 
    }
    
    
    
    
    
    .banner{
        width: 1118px;
        height: 405px;
//      border: 1px solid red;
        margin: 0 auto;
       overflow: hidden;
        position: relative;
        font-size: 20px;
    }
   .aside{
       width: 1118px;
       height: 295px;
       margin: 0 auto;
       margin-top: 23px;
       display: flex;
       justify-content: space-between;
       dl{
           height: 295px;
           width: 259px;
           float: left;
           cursor: pointer;
           border: 1px solid #C0C0C0;
       }
       dt{
           width: 259px;
            height: 250px; 
            overflow: hidden; 
           cursor: pointer;
            
            
            img{
             width: 259px;
            height: 250px;
            transition: 2s;
                
            }
            &:hover img{
            transform: scale(1.5);

            }
       }
       dd{
           text-align: center;
           line-height: 45px;
           height: 45px;
       }
   } 
   
   section{
       width:890px;
       height:750px;
       margin: 0 auto;
       
      .title{
          height: 110px;
          width: 890px;
          text-align: center;
          line-height: 110px;
      } 
      .se-box{
          height:642px;
          width: 889px;
                border: 1px solid #DCDCDC;
          
          
          ul{
             height: 45px;
             width: 889px; 
            
             
            li{
                float: left;
                width: 222px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                border: 1px solid #DCDCDC;
                    border-left:none;
                    border-top: none;
                    
             
            } 
          }
          
    .list{
        width: 887px;
        height:595px;
//      background: red;
        overflow: hidden;
       
    ul{
        height: 595px;
        height: 595px;
        width:5880px ;
	   animation:mymove 30s linear infinite ;
         &:hover{
            animation-play-state: paused;
        }
       li{
          width: 890px;
        height:596px;
        float: left;  
        
        
        
.box{
                  
                  height: 596px;
                  width: 890px;
                  
                 
                dl{
                    width: 222px;
                    height: 298px;
                    float: left;
                    background: white;
                border: 1px solid #DCDCDC;
                    border-left:none;
                    border-top: none;
                  &:hover{
                      background: #DCDCDC;
                  }  
                    dt{
                        width: 222px;
                        height: 210px;

                        
                       img{
                        width: 222px;
                        height: 210px;
                       } 
                    }
                    dd{
                        height: 88px;
                        width: 222px;
                        
                        
                        span{
                            display: block;
                            height:28px;
                            line-height: 28px;
                            font-size: 14px;
                        width: 222px;
                        text-align: center;
                            
                        }
                    }
                }  
              }
        



        
        
        
        
        
        
        
        
       } 
    } 
    
   @keyframes mymove{
                from{
                    margin-left: 0px;
                }
                to{
                    margin-left: -4435px;
                }
            }
    
       
    }      
          
        
        
            
        
          
        
          
          
          
          
          
          
          
          
      }
   }
   
  .freshes{
      height: 526px;
      width: 1118px;
      margin: 0 auto;

     .fr-title{
         width: 1118px;
        height: 75px;
//      background: yellow;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
                    
     } 
     .left{
         height: 450px;
         width: 405px;
         float: left;
           cursor: pointer;
         
         &:hover{
            opacity: .8;
        }
         img{
            height: 450px;
         width: 405px; 
         }
     }
     .right{
         
            width: 712px;
            height: 450px;
            float: left;
         .box{
             width: 331px;
             height: 213px;
             float: left;
             cursor: pointer;
             margin-left: 25px;
             
              &:hover{
            opacity: .8;
        }
            img{
             width: 331px;
             height: 213px;   
            } 
         }
     }
  }
  
  aside{
      height: 220px;
      width: 1118px;
      margin: 0 auto;
      border-top: 1px solid #DCDCDC;
     display: flex;
     justify-content: space-between;
     
        
    .left{
        height: 220px;
        width: 545px;
        cursor: pointer;
        padding-top: 40px;
        box-sizing: border-box;
        img{
            width: 545px;
            height: 180px;
        }
    } 
    .right{
        height: 220px;
        width: 545px;
           cursor: pointer;
         padding-top: 40px;
        box-sizing: border-box;
         img{
            width: 545px;
            height: 180px;
        }
    }  
      
  }
}
