.connect{
    height: 673px;
    width: 100%;
    position: relative;
    overflow: hidden;
     text-align: center;
   img{
       margin:0 -100% ;
      
   }
   .c_login{
       width: 398px;
       height:510px;
       position: absolute;
       background:white;
       top: 50px;
       left:60%;
       
       select{
           width: 290px;
           height: 45px;
           font-size: 16px;
           margin-top:20px ;
       }
       
       .user{
           width: 290px;
           height: 45px;
           margin-top:20px ;
           margin-left:55px;
           span{
               float: left;
               height: 43px;
               width: 45px;
               font-size: 14px;
               line-height: 43px;
               display: block;
               border:1px solid #DCDCDC ;
           }
          .username{
              float: left;
               width: 243px;
               height: 45px;
               border:1px solid #DCDCDC ;
               
          } 
       }
       
     
    .emal{
           width: 290px;
           height: 65px;
           margin-top:20px ;
           margin-left:55px;
           
      .email_info{
          width: 290px;
           height: 45px;
           border: 1px solid #DCDCDC;
      } 
   .infos{
         height: 20px;
         width: 290px;
         display: block;
         font-size: 12px;
         color: red;
     }     
    } 
     
       
       
     .password{
           width: 290px;
           height: 65px;
           position: relative;
           margin-left:55px;
           
          .word{
              float: left;
               width: 290px;
               height: 45px;
               border:1px solid #DCDCDC;
               
          } 
           .pa{
         height: 20px;
         width: 290px;
         position: absolute;
         top: 45px;
         font-size: 12px;
         color: red;
         display: block;
         
     } 
       }  
       
   
   
   .re_box{
           width: 290px;
           height: 45px;
          
           margin-left:55px;
           padding: 0 30px;
           box-sizing: border-box;
           
           
           h6{
              font-size:16px;
              float: right;
           font-weight: normal; 
           }
       }
    button{
        width: 290px;
        margin:0 20px;
        background: #D5D5D5;
        height: 50px;
        color: white;
        text-align: center;
        border: none;
    }
    
    .register_foot{
        width:398px;
    height: 58px;
    background: url(/project/images/1.svg) no-repeat scroll 15px center #c6c6c6;
    background-size: 25% auto;
    text-align: center;
    line-height: 58px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    padding-left: 30px;
    }
    
    .code{
           width: 290px;
           height: 65px;
           margin-left:55px; 
           position: relative;
//        border:1px solid #DCDCDC;
       .usercode{
           width: 180px;
           height: 45px;
           float: left;
           border:1px solid #DCDCDC;
           
       }
       .codes{
           height: 45px;
           width:110px ;
           float:left;
           background: #DCDCDC;
           text-align: center;
           line-height: 45px;
         
       }
       .next{
           position: absolute;
           height: 45px;
           width: 42px;
           line-height: 45px;
          right: -45px;
           text-align: center;
           font-size: 14px;
       }  
        .co{
         height: 20px;
         width: 290px;
         font-size: 12px;
         position: absolute;
         color: red;
         top:45px;
         display: block;
         
     }   
    }
    
    
    
     .reg_form{
        width: 290px;
        margin:0 20px;
        background: #D5D5D5;
        height: 50px;
        color: white;
        text-align: center;
        border: none;
    }
    
    .register_foot{
        width:398px;
    height: 58px;
    background: url(/project/images/1.svg) no-repeat scroll 15px center #c6c6c6;
    background-size: 25% auto;
    text-align: center;
    line-height: 58px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    padding-left: 30px;
    }
    
    
    
    
 }

}